.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    background: #bad8ec;
    width: 80%;
    display: flex;
    justify-content: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  list-style: none;
  width: 70%;
}

.card {
  background: #fffbfb;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card:hover {
  transform: translateY(-4px);
  background: #cbd6fd;
}

.card img {
height: 80%; /* 上部に画像を大きく表示 */
object-fit: contain;
background-color: #eef3f7;
}

.card-title {
height: 20%;
padding: 1.2rem;
font-size: 3.1rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.card a {
  text-decoration: none;
  display: block;
  color: inherit;
}